.Breaking_news-container {
    display: flex;
}

.Breaking_news-heading {
    padding: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: large;
    color: white;
    background: rgb(10, 63, 186);
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
}
.Breaking_news-content{
    width: 100vw;
    align-content: center;
    font-size: large;
    font-weight: bold;
}