.Footer-container{
    height: 50vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.899);
}
.Footer-about{
    position: relative;
    top: 30vh;
    left: 25vw;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.Footer-about img{
    width: 15vw;
}
.Footer-address{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
}
.social_media-icons{
   display: flex;
   justify-content: space-evenly;
   /* background-color: aliceblue; */
}
.social_media-icons img{
    background-color: rgba(240, 248, 255, 0.492);
    margin-left: 10px;
    width: 60%;
    height: 50%;
}
