body {
    margin: 0;
    padding: 0;
    border: none;
}

.NavBar-container {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    flex-wrap: wrap;
    box-shadow: 0px 0px 8px rgb(24, 24, 24);
}

.NavBar-logo {
    width: 20%;
    text-align: left;

}

.NavBar-logo h1 {
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: black;
}
.NavBar-logo span {
    font-size:larger;
    color: #02a9fd;
}

.NavBar-avertisement{
    text-align: center;
    flex-grow: 1;
}
.NavBar-avertisement img {
    margin-left: 20%;
    margin-top: 10px;
    width: 50vw;
    height: 12vh;
    object-fit:cover;
}
