body {
    margin: 0;
    padding: auto;
    border: none;
}

.NavBar-container {
    display: flex;
}

.NavBar-logo {
    width: 20%;
    text-align: left;

}

.NavBar-logo h1 {
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: black;
}
.NavBar-logo span {
    font-size:larger;
    color: #00aaff;
}

.NavBar-avertisement img {
    margin-left: 20%;
    margin-top: 10px;
    width: 50vw;
    height: 12vh;
    object-fit:cover;
}
