body {
    margin: 0;
    padding: 0;
    border: none;
}

.NavBar-container {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    flex-wrap: wrap;
    box-shadow: 0px 0px 8px rgb(24, 24, 24);
}

.NavBar-logo{
    cursor: pointer;
}

.NavBar-logo h1 {
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: black;
}
@media (max-width:600px){
    .NavBar-logo h1{
        font-size: 20px;
        /* background-color: red; */
    }
    .NavBar-logo span{
        font-size: 24px;
    }
}
.NavBar-logo span {
    font-size:larger;
    color: #02a9fd;
}

.NavBar-avertisement{
    text-align: center;
    flex-grow: 1;
}
.NavBar-avertisement img {
    margin-left: 20%;
    margin-top: 10px;
    width: 40vw;
    height: 8vh;
    object-fit:cover;
}
