.NewsDetail-container {
  display: grid;
  width: 80vw;
  margin: 3px auto;
  /* box-shadow: 0px 5px 10px black; */
  grid-template-columns: 1fr;
  background-color: rgb(255, 255, 255);
}
.NewsDetail-mainContent {
    padding: 2%;
  background-color: rgb(213, 213, 212);
}
.newsUploaded-Details {
  display: flex;
  column-gap: 10vw;
  border-radius: 10px;
  padding-left: 1%;
  background-color: rgb(192, 196, 196);
  font-family: "Lato", sans-serif;
}
.newsUploaded-Details p{
  margin-left: 5%;
  padding: 0;
  margin: 2;
}
.NewsImg {
  height: 100%;
  margin: 1px auto;
}
.NewsImg img {
  height: 100%;
  width: 35vw;
  object-fit: cover;
}

.NewsDetail-subContent {
  background-color: white;
  padding: 1%;
  padding-left: 2%;
  font-family: "Lato", sans-serif
}
.relatedNews-title{
  background-color: #012b40;
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 1%;
  font-weight: 350;
  margin-left: 5%;
}
.relatedNews-container {
  background-color: rgb(255, 255, 255);
  padding: 1px;
  border-radius: 5px;
  font-size: larger;
  font-weight: bold;
}
.relatedNews{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  
}

@media (max-width:600px){

  .NewsDetail-container{
    width: 92%;
    box-shadow: none;
    border-radius: 10px;
    align-items: center;
  }
  .NewsImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 1%;
    border-radius: 10px;
  }
  .NewsDetail-mainContent{
    border-radius: 10px;
    background-color: white;

  }
  .newsUploaded-Details{
    background-color: rgb(234, 234, 234);
  }
}
@media(max-width:768px){
  .relatedNews{
    grid-template-columns: 1fr;
  }
}
@media(max-width:1180px){
  .relatedNews{
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width:540px){
  .relatedNews{
    grid-template-columns: 1fr 1fr;

  }
  .relatedNews-title{
    margin-left: 5%;
  }
}
