/* .NewsArea{
    margin-bottom: 6%;
    height: 90vh;
    background-color: rgb(255, 255, 255);
} */
@media (max-width:600px){
.NewsArea{
    margin-bottom: 10%;
}
}

.Trending-Heading h2{
    margin-top: 2%;
    margin-left: 1%;
    font-size: large;
    font-weight: bold;
    /* border-top: 1px solid rgb(186, 185, 185); */
}


.NavigationLink{
    text-decoration: none;
    color: black;
}